<section class="panel">
    <h1>Embeds</h1>
    <p>Les embeds configurables existants sont geres dans les modules qui les utilisent: reglement, tickets, role menus et stats.</p>
    <div class="inline-stats">
        <a class="button" href="./reglement">Reglement</a>
        <a class="button" href="./tickets">Tickets</a>
        <a class="button" href="./rolemenu">Role menus</a>
        <a class="button" href="./stats">Stats</a>
    </div>
</section>
